// Local variables.
$c-container__max-width: 90%;
$c-container__max-width--xl: 1200px;

.c-container {
  margin: {
    left: auto;
    right: auto;
  }
  max-width: $c-container__max-width;
}

@media #{$breakpoint-xxl} {
  .c-container--max-width {
    max-width: $c-container__max-width--xl;
  }
}
