// Teaser component.
$__c-teaser__gap-size: 50px;
$__c-teaser__image-border-color: #61B2FF;

.c-teaser {
  @media #{$breakpoint-s} {
    &:not(:last-child) {
      margin-bottom: $__c-teaser__gap-size;
    }
  }

  @media #{$breakpoint-m} {
    // Using a formula (an + b). Description: a represents a cycle size,
    // n is a counter (starts at 0), and b is an offset value.
    &:nth-child(3n+2) {
      margin: {
        left: $__c-teaser__gap-size;
        right: $__c-teaser__gap-size;
      }
    }
    width: calc((100% - #{$__c-teaser__gap-size * 2}) / 12 * 4);
  }

  @media #{$breakpoint-l} {
    // Using a formula (an + b). Description: a represents a cycle size,
    // n is a counter (starts at 0), and b is an offset value.
    &:nth-child(3n+2) {
      margin: {
        left: $__c-teaser__gap-size;
        right: $__c-teaser__gap-size;
      }
    }
    width: calc((100% - #{$__c-teaser__gap-size * 2}) / 12 * 4);
  }
}

.c-teaser__header {
  margin-bottom: 50px;
}

.c-teaser__image {
  border: {
    color: $__c-teaser__image-border-color;
    radius: 50%;
    style: solid;
    width: 7px;
  }
  display: block;
  margin: {
    left: auto;
    right: auto;
  };
}

.c-teaser__title {
  margin-bottom: 25px;
  text: {
    align: center;
    transform: uppercase;
  }
}
